.form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 12px;
  margin-bottom: 12px;
}

textarea {
  width: 320px;
  height: 200px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 16px;
  resize: both;
  outline: none;
}
